<div>
    <br />
    <h4>Новости сайта Links And News</h4>
    <br />
    <h6>1 декабря 2016 г.</h6>
    <h5>Старт</h5>
    <section>
        <p>
            Сайт опубликован.
        </p>
    </section>
    <h6>15 декабря 2016 г.</h6>
    <h5>Доступно Google Chrome расширение</h5>
    <section>
        <p>
            На Google Web Store для <a href="https://www.google.com/chrome/browser/desktop/index.html?brand=CHBD" target="_blank">Google Chrome</a> 
            браузера опубликовано 
            <a href="https://chrome.google.com/webstore/detail/linksnews-google-chrome-e/hapcaicpccdjkjenkmcmhopgidagpmhf?authuser=2" target="_blank">
                Links And News расширение
            </a> позволяющее быстро добавлять ссылки (закладки) непосредственно с Интернет страниц.
        </p>
    </section>

</div>