<div>
    <br />
    <h4>Links And News site news</h4>
    <br />
    <h6>December 1, 2016</h6>
    <h5>Started</h5>
    <section>
        <p>
            The site has been published.
        </p>
    </section>
    <h6>December 15, 2016</h6>
    <h5>Links And News Google Chrome extension is available</h5>
    <section>
        <p>
            A 
            <a href="https://chrome.google.com/webstore/detail/linksnews-google-chrome-e/hapcaicpccdjkjenkmcmhopgidagpmhf?authuser=2" target="_blank">
                Links And News 
            </a> 
            extension for
            <a href="https://www.google.com/chrome/browser/desktop/index.html?brand=CHBD" target="_blank">Google Chrome</a>
            browser has been published on Google Web Store. It allows you to quickly add links (bookmarks) directly from Internet pages.
        </p>
    </section>

</div>