<modal #modalPasswordEditor [style.z-index]="zIndex" [keyboard]="false" [backdrop]="'static'"  
       (onOpen)="onEditorOpen()" (onDismiss)="onEditorDismiss()">

        <form class="form" #passwordForm="ngForm">
            <modal-header>
                <h4 class="modal-title">{{'Change password' | translate}}</h4>
            </modal-header>
            <modal-body>
                <div class="row">
                    <div class="col-md-12">
                        <label for="old">{{'Old password' | translate}}</label>
                        <input type="password" class="form-control" id="old" name="old" #old="ngModel"
                               placeholder="{{'Old password is required' | translate}}"
                               [(ngModel)]="oldPassword" required />
                        <div *ngIf="old.errors && old.dirty && old.touched" class="alert alert-danger">
                            <div [hidden]="!old.errors['required']">
                                {{'Old password is required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="new">{{'New password' | translate}}</label>
                        <input type="password" class="form-control" id="new" name="new" #new="ngModel"
                               placeholder="{{'New password is required' | translate}}"
                               [(ngModel)]="newPassword" [pattern]="pattern.password" required
                               minlength="5" maxlength="100" />
                        <div *ngIf="new.errors && new.dirty && new.touched" class="alert alert-danger">
                            <div [hidden]="!new.errors['required']">
                                {{'New password is required' | translate}}
                            </div>
                            <div [hidden]="!new.errors['pattern']">
                                {{'Password contains wrong characters or spaces' | translate}}
                            </div>
                            <div [hidden]="!new.errors['minlength']">
                                {{'Password must be at least 5 characters long' | translate}}
                            </div>
                            <div [hidden]="!new.errors['maxlength']">
                                {{'Password cannot be more than 100 characters long' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="confirm">{{'Password confirm' | translate}}</label>
                        <input type="password" class="form-control" id="confirm" name="confirm" #confirm="ngModel"
                               placeholder="{{'Password confirm is required' | translate}}"
                               [(ngModel)]="passwordConfirm" [pattern]="pattern.password" required
                               minlength="5" maxlength="100" />
                        <div *ngIf="confirm.errors && confirm.dirty && confirm.touched" class="alert alert-danger">
                            <div [hidden]="!confirm.errors['required']">
                                {{'Password confirm is required' | translate}}
                            </div>
                            <div [hidden]="!confirm.errors['pattern']">
                                {{'Password confirm contains wrong characters or spaces' | translate}}
                            </div>
                            <div [hidden]="!confirm.errors['minlength']">
                                {{'Password confirm must be at least 5 characters long' | translate}}
                            </div>
                            <div [hidden]="!confirm.errors['maxlength']">
                                {{'Password confirm cannot be more than 100 characters long' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" (click)="save()" [disabled]="!passwordForm.form.valid">{{'Save' | translate}} </button>
                <button type="button" class="btn btn-default" (click)="close()">{{'Cancel' | translate}}</button>
            </modal-footer>
        </form>

</modal>
