<div class="row form-group">
    <div class="btn-group btn-group col-md-7" role="group">
        <button type="button" class="btn btn-secondary"
            [disabled]="column.links.length > 100"
            (click)="column.addNewLink()">
            {{'Add' | translate}}
        </button>
        <button type="button" class="btn btn-secondary"
            [disabled]="!column.selectedLink"
            (click)="column.deleteLink(column.selectedLink)">
            {{'Delete' | translate}}
        </button>
    </div>
    <div class="col-md-5">
        <div class="btn-group btn-group pull-right" role="group">
            <button type="button" class="btn btn-secondary"
                [disabled]="!column.selectedLink || column.topmostLinkSelected"
                (click)="column.shiftSelectedLinkUp()">
                {{(column.viewModeId == 2 ? 'To Left' : 'Up') | translate}}
            </button>
            <button type="button" class="btn btn-secondary"
                [disabled]="!column.selectedLink || column.lowermostLinkSelected"
                (click)="column.shiftSelectedLinkDown()">
                {{(column.viewModeId == 2 ? 'To Right' : 'Down') | translate}}
            </button>
        </div>
    </div>
</div>

<div *ngIf="column && column.links.length === 0" class="row links-presenter-list">
    <div class="col-xs-12">
        <div class="container-fluid links-presenter">
            <div class="row flex-items-xs-middle flex-items-xs-center links-height-100">
                <div class="col-xs-12 text-xs-center links-pale-text">
                    {{'no links' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="column && column.links.length > 0" class="row links-presenter-list">
    <div class="col-xs-12">
        <link-presenter-placeholder *ngFor="let link of column.links" [column]="column" [link]="link"></link-presenter-placeholder>
    </div>
</div>
